node_modules
npm-debug.log
docker-compose.yml
docker-compose-etherpad.yml
.git
.gitignore
README.md
LICENSE-AGPLv3.txt
public/uploads
log
tmp
.bundle
.ebextensions
.env
.env.example
Dockerfile
.rspec-failures
.tool-versions
