<% if model.hashtag.present? %>
  <%= link_to(
    "##{hashtag}",
    "https://twitter.com/hashtag/#{hashtag}",
    class: "card__text--category",
    target: "_blank"
  ) %>
<% end %>

<%#= render partial: "decidim/initiatives/initiatives/tags.html", locals: { resource: model } %>
<ul class="tags tags--initiative">
  <% model.areas.each do |area| %>
    <li><%= link_to translated_attribute(area.name), initiatives_path(filter: {area_id: [area.id]}) %></li>
  <% end %>
</ul>
