<div class="reveal__header missing-confirmation">
  <h3 class="reveal__title">
    <%= t "decidim.initiatives.initiatives.organization_initiatives_settings.create.modal_title" %>
  </h3>
</div>
<p><%= organization_initiatives_settings_validation_message(nil, 'create') %></p>
